body {
  background-color: rgba(185, 180, 180, 0.616);
}

.App {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-size: 5rem;
  color: rgb(168, 164, 164);
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

input,
button {
  width: 250px;
  height: 35px;
  background-color: rgba(167, 172, 173, 0.227);
  border: 2px solid rgb(146, 144, 144);
  border-radius: 10px;
  box-shadow: 7px 7px 7px rgb(148, 146, 146);
}

input {
  margin-top: 30px;
}

button {
  width: 80px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 40px;
}
